<h1>Liste des animaux</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Nom -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Espèce -->
  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef>Espèce</th>
    <td mat-cell *matCellDef="let element">{{ element.species }}</td>
  </ng-container>

  <!-- Santé -->
  <ng-container matColumnDef="health">
    <th mat-header-cell *matHeaderCellDef>Santé</th>
    <td mat-cell *matCellDef="let element">
      {{ element.health ?? "Inconnu" }}
    </td>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        color="primary"
        [routerLink]="['/details', element.id]"
      >
        Détails
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
